<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Satisfy|Source Code Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="icon" href="{{site.baseurl}}/assets/img/sr.png" type="image/gif" sizes="16x16">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109024518-2"></script>
    <script src="{{site.baseurl}}/assets/js/gtag.js"></script>
    <script src="{{site.baseurl}}/assets/js/analytics.js"></script>
    <!-- End of Google Analytics-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/solarsystem.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post-items.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/highlight.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/cv.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/talks.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/timeline.css">

    <!---RSS-->
    <link rel="alternate" type="application/atom+xml" title="Saketha Ramanujam" href="{{site.baseurl}}/feed.xml">

</head>
