html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #252830;
  font-family: "Exo 2", "Satisfy", sans-serif;
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}

main {
  min-height: calc(100vh-60px);
}

.navbar > a {
  width: auto;
}

.bg-custom {
  background-color: #252830 !important;
}

.page {
  margin-top: 10vh;
  color: white;
  align-content: center;
}

.pagecontent {
  min-height: calc(100vh - 40px - 27px);
}

.home {
  max-width: 980px;
  margin: auto;
}

.fasome > a > i {
  text-decoration: none !important;
  color: white;
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 3px;
}
.page > .home > img {
  margin-left: 22vw;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.additionals {
  margin-top: 2em;
}
.additionals > .row > .col > a {
  color: white;
}

.page > .home > h1,
h2 {
  text-align: center;
  font-family: "Cantata One", Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
    "Liberation Serif", Georgia, serif;
}

.page > .home > h2 > span {
  color: orange;
}

.post {
  text-align: left;
  background-color: rgba(37, 40, 48, 0.9);
  margin-left: 22vw;
}

@media screen and (max-width: 720px) {
  .navbar {
    font-size: small;
  }
  .home > h1,
  h2 {
    font-size: 12px;
  }
  .home > h2 > span {
    font-size: 10px;
  }
  footer > .wrapper > p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .page > .posts > h1 {
    font-size: small;
  }
  .home > h1,
  h2 {
    font-size: 23px;
  }
  .home > h2 > span {
    font-size: 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.default-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  color: wheat;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.blog-footer {
  bottom: 0;
  height: 60px;
  color: wheat;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
