
.post{
  max-width: 60vw;
}

@media screen and (max-width: 360px) {
  .page > .post > h1 {
    font-size: 10px;
  }

}

@media screen and (max-width: 720px) {
  .post > h1{
      font-size: 15px;
    }

}

@media screen and (max-width: 1024px) {
  .page > .post > h1 {
    font-size: 25px;
  }
}
