.timeline {
  background-color: rgba(37, 40, 48, 0.6);
  text-align: left;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom:2em;
}

.timeline > a > h1 {
  margin-left: 0.5em;
  color: white;
}

.timeline > p {
  margin-left: 1.5em;
  color: grey;
}

.timeline > a > h1:hover {
  color: green !important;
  text-align: left;
  text-decoration: none !important;
}

@media screen and (max-width: 320px) {
  .timeline > h1 {
    font-size: 10px;
  }
  .timeline > a > h1 {
    font-size: 10px;
  }
  .timeline > p {
    font-size: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .timeline > h1 {
    font-size: 15px;
  }
  .timeline > a > h1 {
    font-size: 15px;
  }
  .timeline > p {
    font-size: 13px;
  }
}
