---
layout: blog-default
---
<div class="page pb-md-6">
    {% assign sorted_posts = site.posts | sort:'date' | reverse %}
    <article class="posts">
        <h1> Posts</h1>
        <hr color="white">
        {% for post in sorted_posts limit: 5%}
        <div class="post-item">
            <h1>
                <img src="https://res.cloudinary.com/stuartlittle/image/upload/q_26/v1587837325/me/mars-min-2.png" width="10vw%">
                <a href="{{site.baseurl}}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <p id="date" datetime="{{ page.date | date_to_xmlschema }}">{{post.date | date: date_format }}</p>
            <p>{{post.shortdesc}}</p>
        </div>
        {% endfor %}
        <a href="{{site.baseurl}}/archive">
            <button type='button' class="btn btn-primary" style="margin-right: 0">
                Older Posts >>
            </button>
        </a>
    </article>
    
</div>