---
layout: default
---
<div class="page">
    <article class="cv">
        <h1>Curiculum Vitae</h1>
        <p> Here's a copy of my Curiculum Vitae <br>
            {% for item in site.data.cv %}
            Last Updated: {{item.lastupdated}}
            {% endfor %}
        </p>
        <embed src="{{base_url}}/sakethramanujam.pdf" type="application/pdf" width="100%" height="800px">
        </embed>

    </article>
    <div class="blog-footer">
        <div class="wrapper d-flex justify-content-center">
            <p class="copyright">
                copyright &copy; 2020 by Saketha Ramanujam
            </p>
        </div>
    </div>
</div>