<!DOCTYPE html>
<html lang="en" class="h-100">
{%- include head.html -%}
<body class="d-flex flex-column h-100">
    <header>
        {% include navigation.html %}
    </header>
    
    <div class='solar-syst'>
        <div class='sun'></div>
        <div class='mercury'></div>
        <div class='venus'></div>
        <div class='earth'></div>
        <div class='mars'></div>
        <div class='jupiter'></div>
        <div class='saturn'></div>
        <div class='uranus'></div>
        <div class='neptune'></div>
        <div class='pluto'></div>
        <div class='asteroids-belt'></div>
    </div>

    <main role="main" class="flex-shrink-0">
        {{ content }}
    </main>

    {% include footer.html %}

    <script>
        window.addEventListener('scroll', function() {
            const nav = document.querySelector('.navbar');
            if (window.scrollY > 50) {
                nav.classList.add('navbar-scrolled');
            } else {
                nav.classList.remove('navbar-scrolled');
            }
        });

        // Also handle the mobile menu being opened
        $('.navbar-collapse').on('show.bs.collapse', function () {
            document.querySelector('.navbar').classList.add('navbar-scrolled');
        });
        $('.navbar-collapse').on('hide.bs.collapse', function () {
            if (window.scrollY <= 50) {
                document.querySelector('.navbar').classList.remove('navbar-scrolled');
            }
        });
    </script>
</body>
</html>
