---
layout: default
---
<div class="page">
    <article class="home">
        <img class='dp' src="https://res.cloudinary.com/stuartlittle/image/upload/v1587120916/me/ID.jpg"
            alt="sakethocat" , width="80vw">
        <h2>Hola!</h2>
        <h1> I'm Saketha Ramanujam</h1>
        <h2>I'm
            <span class="txt-rotate" data-period="1000" data-rotate='["an RF Engineer", "an Electronics Engineer"
                "an Astronomy/Photography Enthusiast", "a Homelab-er", 
                "a Classical Musician"]'></span>  
        </h2>
        <div class="fasome d-flex justify-content-center">
            {% for social in site.data.fasome %}
            <a href="{{social.link}}" target="_blank">
                <i class="{{social.icon}}"></i>
            </a>
            {% endfor %}
            <a href="mailto:saketh.ramanujam98@hotmail.com">
                <i class="fas fa-envelope-square"></i>
            </a>
        </div>
        <div class="additionals">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="{{site.baseurl}}/sakethramanujam.pdf">
                        <h4>cv</h4>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="{{site.baseurl}}/talks">
                        <h4>talks</h4>
                    </a>
                </div>
            </div>
        </div>
    </article>
    <div class="default-footer">
        <div class="d-flex justify-content-center">
            <p class="copyright">
                Made with ❤️ by Saketha Ramanujam | Solar System by <a href="https://codepen.io/kowlor/pen/ZYYQoy">Dathink</a>
            </p>
        </div>
    </div>
</div>

</div>
<script>
    var TxtRotate = function (el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function () {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 300 - Math.random() * 750;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 250;
        }

        setTimeout(function () {
            that.tick();
        }, delta);
    };

    window.onload = function () {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
    };
</script>
