---
title : {{page.title}}
layout: blog-default
---

<div class="page container-lg p-responsive pb-md-6">
  <div class="post">
    <h1>{{ page.title | escape }}</h1>
    <p class="date">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date: "%F" }}">
        {{ page.date | date: date_format }}
      </time>
    </p>
    {{ page.content }}
    <div class="PageNavigation">
      {% if page.previous.url %}
      <a class="btn btn-outline-light btn-sm float-left" href="{{page.previous.url}}">&laquo;
        {{page.previous.title}}
      </a>
      {% endif %}
      {% if page.next.url %}
      <a class="btn btn-outline-light btn-sm float-right" href="{{page.next.url}}">
        {{page.next.title}} &raquo;
      </a>
      {% endif %}
    </div>
    <br>
    <hr color="#252830">
    <div>
      <a class="btn btn-primary" href="/feed.xml" target="_blank">
      <img 
      src="https://images.vexels.com/media/users/3/131980/isolated/preview/00204564462763e16a3d4f9fd3aeceb0-rss-ring-icon-by-vexels.png"
      width="25px">
        RSS
      </a>
    </div>
    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}
  </div>
</div>

<script>
  const imgs = document.querySelectorAll('.post>p>img');
  imgs.forEach(Element => {
    Element.setAttribute('class', 'img-fluid')
    Element.setAttribute('align', 'center!important')
    Element.setAttribute('width', '100%')
  });
</script>