---
layout: blog-default
---
<div class="page pb-md-6">
    <article class="talks">
        <h1>Talks</h1>
        <hr color="white">
        {% assign talks = site.data.talks | sort : 'date'  | reverse %}
        {% for talk in talks %}
        <a href="{{talk.link}}"><h1>{{talk.title}}</h1></a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <p id="date" datetime="{{talk.date | date_to_xmlschema}}">{{talk.date | date: date_format}} | {{talk.org}}</p>
        {% endfor %}
    </article>
    <div class="default-footer">
        <div class="wrapper d-flex justify-content-center">
            <p class="copyright">
                copyright &copy; 2020 by Saketha Ramanujam
            </p>
        </div>
    </div> 
</div>