<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/custom.css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Satisfy|Source Code Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="icon" href="assets/img/sr.png" type="image/gif" sizes="16x16">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109024518-2"></script>
        <script src="assets/js/gtag.js"></script>
        <script src="assets/js/analytics.js"></script>
        <!-- End of Google Analytics-->
        <link rel="stylesheet" href="assets/css/solarsystem.css">
        <title>Saketha Ramanujam</title>
    </head>
    <body >
            <div class='solar-syst'>
                    <div class='sun'></div>
                    <div class='mercury'></div>
                    <div class='venus'></div>
                    <div class='earth'></div>
                    <div class='mars'></div>
                    <div class='jupiter'></div>
                    <div class='saturn'></div>
                    <div class='uranus'></div>
                    <div class='neptune'></div>
                    <div class='pluto'></div>
                    <div class='asteroids-belt'></div>
              </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true"><i class="fas fa-home"></i></span><br>Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" 
                      aria-selected="false"><i class="fas fa-quote-left"></i><br>Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">
                          <i class="fas fa-project-diagram"></i><br>Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="assets/docs/sakethramanujam.pdf">
                            <i class="fas fa-book"></i><br>Resume</a>
                          </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="home">
                           <p> Hello! I am <span id="name">Saketha Ramanujam</span></p>
                           <p>I'm an Electronics Engineer and Astronomy Enthusiast</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="center">
                            <div class="card">
                                    <div class="card-header">
                                      Why should I not be interested in fighting a robot,? Don't worry you'd lose.
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text">
                                          <p id="hello"><strong>Hello</strong> Time-travellers!</p><br>
                                          <p id="about">I'm Saketha Ramanujam, an Astrophysics Enthusiast. I'm an undergraduate student at the
                                                department of <strong>Electronics and Communications Engineering</strong>, 
                                                <a href="http://gvpce.ac.in" id="college">Gayatri 
                                                Vidya Parishad College of Engineering(A)</a>, Visakhapatnam. I love Physics, Astronomy and 
                                                Astrophysics in particular and enjoy reading things related. I spend my time understanding the 
                                                laws that govern our universe and engineering things using the knowledge I acquire. I currently 
                                                am working at the <a href="http://www.gvpsirc.in" id="sirc"> Scientific and Industrial Research 
                                                Center</a> under Prof. Rao Tatavarti for my project.<br>
                                                                                        
                                              I always forget to mention of my skills with music :p. I play Carnatic <span id="music">Music</span> on Keyboard and Sing as well. 
                                              <span id="fandom">I'm a fan of art and photography.<span id="scifi"><strong>Too Many Sorcerers</strong></span> so,<span id="teachme">Teach me</span>
                                              I'll learn it, because <span id="warning"><strong>warnings</strong></span> come after the spells.</p>
                                           </span>
                                        </p>
                                          
                                          <p id="contact">
                                                <a href="https://www.linkedin.com/in/saketha-r-2441a5113"><i class="fab fa-linkedin"></i></a>
                                                <a href="https://github.com/sakethramanujam"><i class="fab fa-github"></i></a>
                                                <a href="mailto:saketh.ramanujam98@hotmail.com"><i class="fas fa-envelope-square"></i></a>
                                          </p>
                                        
                                    </div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                        <div class="container">
                                    <div class="timeline">
                                      <h2>2018</h2>
                                      <ul>
                                        <li><a href="#">
                                          <h3>Todo Extension</h3>
                                          <p>Simple todo extension for googlechrome in javascript</p>
                                          <time>October</time>
                                        </a></li>
                                        <li><a href="https://github.com/sakethramanujam/roadprofiler">
                                            <h3>Road Conditioning - Profiler</h3>
                                            <p>Arduino Road Profiler for analysis and condition Monitoring</p>
                                            <time>July - Incomplete</time></a>
                                        </li>
                                        <li><a href="#">
                                          <h3>WebSocket Rocket</h3>
                                          <p>Socket Programming Server Client Mechanism for highspeed sensor Data Transfer</p>
                                          <time>May - June </time></a>
                                        </li>
                                        <li><a href="#">
                                          <h3>Digital Audio Filter</h3>
                                          <p>Infinite Impulse response filter to demonstrate noise removal and processing of EavesDropped Audio</p>
                                          <time>May</time></a>
                                        </li>
                                        <li><a href="#">
                                          <h3>Result Delivery Automation</h3>
                                          <p>Service delivery setup for image processing job automation</p>
                                          <time>April</time></a>
                                        </li>
                                        <li><a href="https://github.com/sakethramanujam/gazetracker">
                                          <h3>gazepoint-heatmap</h3>
                                          <p>A python based gazetracker service to giveout heatmaps of user gaze</p>
                                          <time>March - Till Date</time></a>
                                        </li>
                                        <li><a href="https://github.com/sakethramanujam/WC-Chrome-Extension">
                                            <h3>WC Chrome Extenstion</h3>
                                            <p>Simple wordcounting extension in javascript</p>
                                            <time>February</time>
                                          </a></li>
                                        <li><a href="#">
                                          <h3>Abandoned Object Detector</h3>
                                          <p>Tensorflow object detector modified to detect abandoned objects</p>
                                          <time>January - April</time></a>
                                        </li>
                                      </ul>
                                      
                                      <h2>2017</h2>
                                      <ul>
                                        <li><a href="#">
                                          <h3>Keras Classifier</h3>
                                          <p>CNN Classifier built over the VGG16 in Keras</p>
                                          <time>November</time></a>
                                        </li>
                                        <li><a>
                                          <h3>RC Controlled Quad</h3>
                                          <p>A non-programmed quad copter!</p>
                                          <time>August</time></a>
                                        </li>
                                       
                                      </ul>
                                      
                                      <h2>2016</h2>
                                      <ul>
                                        <li><a href="#">
                                          <h3>Audio Monitoring Device</h3>
                                          <p>Attempt in Arduinon to detect audios in unwanted places</p>
                                          <time>August</time></a>
                                        </li>
                                        <li><a>
                                          <h3>Darlington Pair Amplifier</h3>
                                          <p>High Current gain amplifier as a part of circuit analysis coursework</p>
                                          <time>December</time></a>
                                        </li>
                                       
                                      </ul>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>
                  
<!--         <footer class="footer">
            <div class="container">
            <span class="icons">
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons"></i></a>
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons-nc"></i></a>
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons-by"></i></a>
            </span>
            <br>
            </div>
            &copy 2018 Saketha Ramanujam
        </footer>  -->             
            
    </body>
</html>